.Card-List{
  overflow-Y: hidden;
  display:flex;
  flex-flow: row wrap;
  justify-content:space-between; 
  margin-left: 3rem;
  
 
}
.ActionsList{
  margin-top: 10%;
  width: 100%;


 
}
.search{
  display: grid;
  grid-row-gap: auto;
  grid-template-columns: 30% auto;
  width: 100%;
      &__select{
        color: var(--primary-purple);
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        border-radius: 4rem;
        .op{
          color: var(--primary-purple);
        }
        
      }
      &__form-control{
        margin-left: 2rem;
        width: 65rem;
        color: var(--primary-purple);
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        border-radius: 4rem;
      }
      &__page-btn {
        background-color: var(--primary-purple);
        color: var(--white-1);
  
        font-size: 1.4rem;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
  
        padding: 1rem 5rem;
        border: none;
        border-radius: 4rem;
  
        cursor: pointer;
        outline: none;
  
        transition: 0.2s ease-out;
  
        &__page-btn:hover {
          transform: scale(1.1);
        }
      }
      
      &__page-btn:hover {
        color: white;
        background-color: var(--primary-purple);
        transform: scale(1.1);
      }
      
      

}
.section-title {
  margin: 5rem 0;
  margin-left: 4rem;
  &__main {
      font-weight: bold;
      font-size: 2.8rem;
      margin-bottom: 0.2rem;
      color: var(--black-2);
  }

  &__sub {
      color: rgba(black, 0.6);
      

      font-family: 'Merriweather';
      font-size: 2rem;
      font-weight: 500;

      margin-bottom: 2rem;
      line-height: 1.2;
      width: 60%;
  }

  &__underline {
      width: 40rem;
      border: none;
      border-bottom: 3px solid var(--primary-purple);
  }
}



/* 

// bootstrap custom
.page-btn {
  background-color: #66288e;
  color: white;
  padding: 0.7rem 5rem;
  border: none;
  border-radius: 4rem;
}

.page-btn:hover {
  color: white;
  background-color: purple;
}

.page-btn2 {
  margin-top: 2%;
}

#jumbo-listlistActions {
  background-color: #bb8cda;
  max-height: 250px;
  color: ghostwhite;
  display: flex;
  flex-direction: row;
  justify-items: left;
}

#jumbo-listlistActions h1 {
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

#jumbo-listlistActions p {
  font-size: 10px;
  max-width: 40%;
  font-family: "Poppins", sans-serif;
}

.jumbo-listlistActions-image {
  max-width: 30%;
}

.selector {
  width: 20%;
}

// -----------------------------------------------------
/*
.Page {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Page-img {
  width: 90%;
  z-index: -100;
}

.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.page-header h1 {
  margin-top: 50px;
  width: 50%;
  font-size: 40px;
  font-family: "Krona One", sans-serif;
  text-align: center;
}

.page-header-infos {
  max-width: 40%;
  min-width: 30%;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.page-header-infos p {
  font-size: medium;
  color: gray;
}

.page-header-img {
  width: 60%;
  height: 20%;
  
  margin-top: 60px;
}

.text-description {
  width: 50%;
  margin-top: 3%;
}

.text-description p {
  font-size: 17px;
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.text-content {
  margin-top: 1%;
  width: 50%;
}

.text-content p {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  text-align: justify;
}

*/
